---
// Definimos las propiedades que acepta el componente
interface Props {
  title: string;
  subtitle: string;
  primaryButton: string;
  primaryLink: string;
  secondaryButton?: string;
  secondaryLink?: string;
}

// Extraemos las propiedades
const {
  title,
  subtitle,
  primaryButton,
  primaryLink,
  secondaryButton,
  secondaryLink,
} = Astro.props;
---

<section class="hero">
  <div class="container">
    <div class="hero-content fade-in">
      <h1>{title}</h1>
      <p class="mb-3">{subtitle}</p>
      <!-- <div class="hero-buttons">
        <a href={primaryLink} class="btn">{primaryButton}</a>
        {secondaryButton && secondaryLink && (
          <a href={secondaryLink} class="btn btn-outline">{secondaryButton}</a>
        )}
      </div> -->
    </div>
  </div>
</section>

<style>
  .hero {
    min-height: 100vh;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    padding: 5rem 1rem; /* Añade más padding para mejor espacio */
    background: linear-gradient(
      135deg,
      rgba(230, 240, 255, 1) 0%,
      rgba(255, 255, 255, 0.628) 100%
    );
    position: relative;
    overflow: hidden;
    border-radius: 2%;
    box-shadow: 5px 1px 16px rgba(0, 0, 0, 0.1);
  }

  .hero-content {
    position: relative;
    z-index: 2;
    max-width: 700px;
    text-align: center; /* Centra el texto */
    padding: 2rem;
  }

  .hero-content h1 {
    font-family: "Poppins", sans-serif; /* Usa una fuente moderna */
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #333;
  }

  .hero-content p {
    font-family: "Roboto", sans-serif; /* Otra fuente legible */
    font-size: 1.25rem;
    line-height: 1.5;
    color: #666;
  }

  .hero-buttons {
    display: flex;
    justify-content: center; /* Centra los botones */
    gap: 1.5rem; /* Aumenta el espacio entre botones */
    margin-top: 2.5rem;
  }

  .hero-buttons a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 0.75rem 2rem;
    border-radius: 50px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

  .primary-button {
    background-color: #007bff;
    color: #fff;
    border: 2px solid #007bff;
  }

  .primary-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  }

  .secondary-button {
    background-color: #fff;
    color: #007bff;
    border: 2px solid #007bff;
  }

  .secondary-button:hover {
    background-color: #f0f8ff;
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  }

  /* Responsive */
  @media (max-width: 768px) {
    .hero-buttons {
      flex-direction: column;
      align-items: center;
    }

    .hero-content h1 {
      font-size: 2.5rem;
    }
  }
</style>
